extends layout

block content
  div(class="container-fluid")
  h1= title
  - let result=[{name:"Baking bad",author:"baking renold",season:20},{name:"Avengers",author:"stan lee",season:17},{name:"X man",author:"WB",season:23}] 
    div(class="row")
      each form in result
        div(class = "col-sm-2") #{form.name}
        div(class = "col-sm-2") #{form.author}
        div(class = "col-sm-2") #{form.season} 